[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
uvicorn = "*"
asyncpg = "*"
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
openai = "*"

[dev-packages]
pytest = "*"
httpx = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
